*{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.titulo{
    font-size: 14pt;
    margin-bottom: 4px;
}
.texto{
    font-size: 12pt;
    margin-bottom: 4px;
}
.autor{
    font-size: 10pt;
}
.grid{
    display: grid;
    grid-template-rows: 10vh 100%;
    grid-template-columns: 15fr 85fr;
    grid-template-areas:'header header'
                        'menu content';
}
.button-home{
    border-bottom:2px solid  black;
    margin-bottom: 10px;
    padding-top: 20px;
    background: rgb(64, 108, 250);
    padding-bottom: 20px;
}
.item-menu{
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(0, 255, 149);
    border-bottom-width:3x ;
    padding-bottom: 4px;
}   
.menu li:hover{

}
.caixa{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
}
.menu{

    height: 100%;
    grid-area: menu;
    background: rgb(0, 153, 255);

}
.menu a{
    color:black;
}

.content{
    padding: 20px;
    grid-area: content;
    background: rgb(223, 219, 219);
}
header{
    padding-left: 10px;
    background: rgb(1, 107, 156);
    grid-area: header;
}
.svg{
    margin-left: 3px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.bloco{
    border:2px solid rgb(175, 175, 175);
    background: white;
    padding: 10px;
    width: 400px;
    margin:5px;
}
.hoje{
    font-size: 15pt;
    background:rgb(4, 214, 4);
    border-radius: 10px;
    height: 30px;
    width: 340px;
}
.bloco-item{
    margin: auto;
    text-indent: 50px;
    font-size: 20pt;
    margin-top: 10px;
}
